body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /*font: 15px/1.5 Arial, Helvetica, sans-serif;*/

  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}


/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* header Unordered List */
ul{
  margin: 0;
  padding: 0;
}


.button_1{
  height: 38px;
  background: orange;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Header */
header{
  background: #35424a;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: orange 3px solid;
}


/* Header Links */
header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 5px 0 5px; /*padding: top right bottom left;*/
}



header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  padding-bottom: 10px;
}

header nav{
  float: right;
  margin-top: 10px;
  padding-bottom: 10px;
}

header .highlight, header .current a{
  color: orange;
  font-weight: bold;
}

header a:hover{
  color: red;
  font-weight: bold;
}


/* Showcase */
#showcase{
  min-height: 400px;
  /*background: url('../img/showcase.jpg') no-repeat 0 -400px;*/
  /*background-color: green;*/
  text-align: center;
  color: white;
}


#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 50px;
}

#showcase p{
  font-size: 20px;
}




/* About Showcase */
#aboutshowcase{
  min-height: 400px;
  background-color: green;
  text-align: center;
  color: white;
}


#aboutshowcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#aboutshowcase p{
  font-size: 20px;
}



#page_title{
  text-align: center;
  color: orange;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 30px;
}

/* newsletter */

#newsletter{
  padding: 15px;
  color: black;
  /* background: #35424a; */
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}


#main{
  padding-top: 10px;
  float: none;
}
#main a{
  text-decoration: none;
  display: block;
}
#main li{
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

#main p{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Main-col */
article#main-col{
  overflow: hidden;
  text-decoration: none;
  text-align: left;
  width: 100%;
}


/* Footer */
footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: orange;
  text-align: center;
}


/* media queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}
