body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /*font: 15px/1.5 Arial, Helvetica, sans-serif;*/

  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

html, body{
  height: 100%;
}

#container{
  min-height: 100%;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
  padding-top: 70px;
}

#foot{
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}

.box-border{
  width: 60%;
  margin: auto;
}

.card{
  margin: 5px;
  padding: 20px;
  border: 3px solid;
  background-color: lightgray;
}

/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* header Unordered List */
ul{
  margin: 0;
  padding: 0;
}


.button_1{
  height: 38px;
  background: orange;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Header */
header{
  background: #35424a;
  color: white;
  padding-top: 30px;

  min-height: 10px;
  border-bottom: orange 3px solid;
}


/* Header Links */
header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 10px 0 10px; /*padding: top right bottom left;*/
}



header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  padding-bottom: 10px;
}

header nav{
  float: right;
  margin-top: 10px;
  padding-bottom: 10px;
}

header .highlight, header .current a{
  color: orange;
  font-weight: bold;
}

header a:hover{
  color: red;
  font-weight: bold;
}



/* Showcase */
#showcase{
  min-height: 400px;
  /*background: url('../img/showcase.jpg') no-repeat 0 -400px;*/
  /*background-color: green;*/
  text-align: center;
  color: white;
}


#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}


/* About Showcase */
#aboutshowcase{
  min-height: 300px;
  background-color: green;
  text-align: center;
  color: white;

  border-bottom: #35424a 5px solid;
}


#aboutshowcase h1{
  margin-top: 110px;
  font-size: 55px;
  margin-bottom: 10px;
}

#aboutshowcase p{
  font-size: 20px;
}

/* newsletter */

#newsletter{
  padding: 5px;
  color: white;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}


/* boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}


/* sidebar */

aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* Main-col */
article#main-col{
  float: center;
  width: 100%;
}


/* Footer */
footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: orange;
  text-align: center;
}



/* media queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}
